.chatfooter{
    display: flex;
    color: white;
    align-items: center;
    padding: 20px;
    background: #474b53;
    border-top: 1px solid gray;
}
.chatfooter > input{
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    color: inherit;
}
.chatfooter > input:focus{
    outline: none;
}
.submit{
    display: none;
}